{% extends "base.html" %}

{% set active_page = "index" %}
{% set navbar_title = "Masters' degree thesis" %}


{% block title %}Home Page{% endblock %}

{% block content %}

	<div class="jumbotron" style="margin: auto; text-align: center;">
		<br>
		<div class="row">
			<div class="col">
				<img src="/static/images/escudoULE.png" height="50"/>
			</div>
			<div class="col">
				<img src="/static/images/escudoUBU.png" height="50"/>
			</div>
			<div class="col">
				<img src="/static/images/escudoUVA.png" height="50"/>
			</div>
			<div class="col">
				<img src="/static/images/escudoInfor.png" height="50"/>
			</div>
		</div>
		<br>
		<p class="lead text-center">This project corresponds to the Master's Thesis in Big Data and uses the social network <span class="lead text-center text-info">Twitter</span> to obtain information about the latest music listened to by users (by searching the #NowPlaying hashtag) and then query the track and artist data involved that <span class="lead text-center text-success">Spotify</span>, a music-as-a-service based platform, has, managing the entire process using tools recognized in the fields of Big Data and development.</p>
		<p><img src="/static/images/flowchart.gif" class="img-fluid w-75 p-0"/></p>
		<p><a href="https://github.com/AdrianRiesco/Data-Engineer-project"><img src="/static/images/github.png" height="50"/></a></p>
		<p class="text-muted">Adrian Riesco Valbuena</p>
	</div>

	<div>

	</div>

{% endblock %}