{% extends "base.html" %}

{% set active_page = "index" %}
{% set navbar_title = "Masters' degree thesis" %}


{% block title %}Home Page{% endblock %}

{% block content %}

	<div class="jumbotron" style="margin: auto; text-align: center;">
		<br>
		<div class="row">
			<div class="col">
				<img src="/static/images/escudoULE.png" height="50"/>
			</div>
			<div class="col">
				<img src="/static/images/escudoUBU.png" height="50"/>
			</div>
			<div class="col">
				<img src="/static/images/escudoUVA.png" height="50"/>
			</div>
			<div class="col">
				<img src="/static/images/escudoInfor.png" height="50"/>
			</div>
		</div>
		<br>
		<p class="lead text-center">This project corresponds to the Master's Thesis in Big Data and uses the social network Twitter to obtain information about the latest music listened to by users (by searching for a particular hashtag) and then consult the data of the song and the artist involved that Spotify, a platform based on music as a service, has. For the development I have used recognized tools within the fields of Big Data and development, such as Apache Airflow, Apache Spark, Apache Cassandra, Docker Compose, Flask and Bootstrap.</p>
		<p><img src="/static/images/flowchart.gif" class="img-fluid w-50 p-0"/></p>
		<p><a href="https://github.com/AdrianRiesco/Data-Engineer-project"><img src="/static/images/github.png" height="50"/></a></p>
		<p class="text-muted">Adrian Riesco Valbuena</p>
	</div>

	<div>

	</div>

{% endblock %}