{% extends "base.html" %}

{% set active_page = "table" %}

{% block title %}Home Page{% endblock %}

{% block content %}

	<div class="jumbotron" style="margin: auto; text-align: center;">
		<br>
		<br>
		<h1>Trends in music</h1>
		<br>
		<p class="text-muted">Table</p>
		<br>
	</div>

	<div>
		<h1>List of tracks</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Tweet id</th>
					<th scope="col">Date</th>
					<th scope="col">Link</th>
					<th scope="col">Track name</th>
					<th scope="col">Artist</th>
					<th scope="col">Popularity</th>
					<th scope="col">Danceability</th>
					<th scope="col">Energy</th>
					<th scope="col">Key</th>
					<th scope="col">Loudness</th>
					<th scope="col">Speechiness</th>
					<th scope="col">Acousticness</th>
					<th scope="col">Instrumentalness</th>
					<th scope="col">Liveness</th>
					<th scope="col">Valence</th>
					<th scope="col">Tempo</th>
					<th scope="col">Duration (ms)</th>
					<th scope="col">Time signature</th>
					<th scope="col">Mode</th>
				</tr>
			</thead>
			<tbody>
				{% for track in tracks %}
					<tr class="table-light">
						<th scope="row">{{track.id_tweet}}</th>
						<th scope="row">{{track.created_at}}</th>
						<th scope="row"><a href="{{track.url_tweet}}">Tweet</a></th>
						<th scope="row">{{track.name}}</th>
						<th scope="row">{{track.artists_name}}</th>
						<th scope="row">{{track.popularity}}</th>
						<th scope="row">{{track.danceability}}</th>
						<th scope="row">{{track.energy}}</th>
						<th scope="row">{{track.key}}</th>
						<th scope="row">{{track.loudness}}</th>
						<th scope="row">{{track.speechiness}}</th>
						<th scope="row">{{track.acousticness}}</th>
						<th scope="row">{{track.instrumentalness}}</th>
						<th scope="row">{{track.liveness}}</th>
						<th scope="row">{{track.valence}}</th>
						<th scope="row">{{track.tempo}}</th>
						<th scope="row">{{track.duration_ms}}</th>
						<th scope="row">{{track.time_signature}}</th>
						<th scope="row">{{track.mode}}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

{% endblock %}